.floatMenu {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-radius: 70px;
  bottom: 20px;
  right: 20px;
  background-color: #7c00f8;
}
