.profile {
  display: flex;
  width: 100%;
  justify-content: center;
  

  @media (min-width: 576px) {
    padding: 30px;
  }

  @media (min-width: 768px) {
    padding: 40px;
  }

  @media (min-width: 992px) {
    padding: 50px;
  }

  @media (min-width: 1200px) {
    padding: 70px;
  }
}
