.buttonIcon {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    background-color: transparent;
    outline: none;

    span {
      font-size: 34px;
    }
  }

  button:hover {
    background-color: transparent;
    span {
      color: #ffffff;
      font-size: 3em;
    }
  }

  &.buttonIcon-no-border {
    button:hover {
      background-color: transparent;
    }
  }
}
