.profilePhotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  .profilePhoto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: fill;
    border: 1px solid #ccc;
  }
  