.container {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  height: calc(100vh - 70px); 

  @media (min-width: 375px) {
    padding: 20px;;
  }
 
  @media (min-width: 576px) {
    padding: 70px;
  }

  @media (min-width: 768px) {
    padding: 70px;
  }

  @media (min-width: 992px) {
    padding: 50px;
  }

  @media (min-width: 1200px) {
    padding: 70px;
  }
}

