.header {
  padding: 20px;
  display: flex;
  height: 70px;
  background: linear-gradient(70deg, #241963, #982390);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}
